/* Universal Selectors  */
* {
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    font-weight: bold;
}

/* Start of Header selectors */
.header {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 20px;
    text-align: right;
    background-image: url(../images/38A03913-D346-4DFC-B29F-3AA767A6F509.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 950px;
    z-index: 0;
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    left: 0;
    top: 10px;
    text-indent: 5px;
    letter-spacing: .5px;
    display: inline-grid;
    justify-content: end;
    padding: 8px;
}

.nav a:hover {
    color: #fff;
    text-decoration: underline;
  }

.header .name {
    width: 100%;
    display: flex;
    flex-direction: column;
    letter-spacing: 2.5px;
    text-align: left;
}

h1 {
    font-size: 60px;
    color: black;
    padding-top: 70px;
    margin-top: 20px;
}

.name .job {
    font-size: 24px;
    text-align: center;
}

#job-descr {
    text-align: center;
}
/* End of header selectors */

/* Start of primary font selectors */

a {
    color: hsl(0, 0%, 0%);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* End of primary font selectors */

/* Start of main style selectors */
.main {
    background-image: url(../images/wesley-tingey-1TY3MGq-hOQ-unsplash.jpg);
    background-position: bottom;
    background-size: auto;
    color: black;
    
}

h2 {
    display: block;
    text-align: left;
}

/* End of main style selectors */

/* Start of about section selectors (includes contact me selectors) */
#about {
    min-height: 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .subject { 
    display: flex;
    flex: 1.5;
    flex-direction: column;
    font-variant-caps: petite-caps;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    padding-left: 10px;
}
#about .content, .contacts, .contacts p {
    position: relative;
    margin-top: 8px;
    padding-top: 20px;
    padding-right: 50px; 
    padding-left: 50px;
    font-size: 22px;
    margin-right: 115px;
    flex: 4;

}

/* End of about section selectors */

/* Start of my work selectors*/

#work {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.row .apps {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 100px;
    
}

#work .row .subject{  
    flex: .5;
}  

.apps a {
    margin-top: 10px;
    vertical-align: middle;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 0px;
    margin: 20px;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    width: 200px;
}

.card header {
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.card img {
    width: 100%;
}

.app-img {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: inherit;
    border-radius: 0px 0px 10px 10px;
}

.app-img:hover {
    cursor: pointer;
}

#guide-img {
    background-image: url(../images/justin-morgan-Hx-4TbpsoIw-unsplash.jpg);
    height: 253px;
    width: auto;
    border-radius: 0px 0px 10px 10px;
}

.apps #first-card {
    height: 300px;
    width: 300px;

}

#refactor-img {
    background-image: url(../images/walkator-klMii3cR9iI-unsplash.jpg);
}

#parktivitiesImg {
    background-image: url(../images/Parktivities\ screenshot.png);
}

#codeboard-img {
    background-image: url(../images/CodeBoard.png);
}

/* End of my work selectors */

/* Start of remaining contact me selectors */
#contact {
    min-height: 150px;
}
/* End of remaining contact me selectors */

/* Start of media query selectors */


@media screen and (max-width: 500px) {
    * {
        overflow: scroll;
      }
    }

@media screen and (max-width: 1010px) {
    .nav a {
        font-size: 18px;
      }
    }

@media screen and (max-width: 800px) {
    p {
        font-size: 18px;
      }
    }

@media screen and (max-width: 650px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 20px;
        padding-left: 20px;
        overflow: hidden;
    }
    .my-name {
        font-size: 40px;
      }
    body {
        font-size: 24px;
    }
    a, p, .subject {
        font-size: 16px;
    }
    .subject span {
        font-size: 28px;
    }
    .apps {
        display: inline-table;
        overflow: initial;
    }
    .app-img {
        height: 70px;
    }
    #guide-img {
        height: 200px;
    }
    .apps #first-card {
        height: 258px;
        width: 200px;
    }
    }

    @media screen and (max-width: 440px) {
        #about .content, .contacts, .contacts p {
            margin-right: 50px;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
/* End of media query selectors */