/*:root {
    background-color: darkgray;
}*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

.header {
    display: flex;
    padding: 20px;
    text-align: center;
    background-image: url(../images/38A03913-D346-4DFC-B29F-3AA767A6F509.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: inherit;
    z-index: 0;
    position: relative;


}

.nav {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    left: 0;
    top: 10px;
   
    
}

.nav a {
    color: fuchsia;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav a:hover {
    color: #fff;
  }

.header .name {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: xx-large;
}

#about-me {
    background-color: darkcyan;
    background-image: url(../images/D7E10838-3EA7-4FF8-BBCE-158157F3E2E2.jpeg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    color: greenyellow;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1000px;
    margin-left: 50px;
}

.row .subject {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.row .content {
    flex: 3;
}

#about-me h2 span {
    border-bottom: 5px double black;
    padding-bottom: 2px;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 25px;

}

#about-me .content {
    position: relative;
    margin-top: 8px;

}

#my-work {
    display: flex;
    flex-wrap: wrap;
    background-color: darkgrey;
}

#my-work .row {
    
}

.apps {
    flex: 4;
    background-color:;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
}

.card header {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
}

